html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* setup snippet */
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */

/* body styles */
html {
  scroll-behavior: smooth;
}

/* varibales */
:root {
  --border: 5px solid #fafafa;
  --border-radius: 20px;
  --secondary-colour: rgb(232, 1, 147);
  --dark-colour: #232323;
  --light-colour: #fafafa;
  --light-subtle: rgba(255, 255, 255, 0.3);
  --background-dark: rgba(0,0,0,0.7);
  --accent-yellow: #FED955;
  --accent-red:  #FF2B77;
}

main {
  text-align: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--light-colour);
  letter-spacing: 0.025rem;
}

.appBackground {
  /* background-image:url(assets/wallpaperbetter.jpg);
  background-color: var(--background-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 25px;
  background-position:center; */
}

.backgroundImg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url(assets/wallpaperbetter.jpg);
  z-index: -100;
  background-position: center;
  margin-top: -25px;
  background-size: cover;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: var(--dark-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  width: 250px;
  max-width: 60vw;
  animation: pulse .75s ease infinite;
  animation-direction: alternate ;
}
.preloader.loaded {
  display: none;
}

@keyframes pulse {
  form {transform: scale(1);}
  to {transform: scale(1.1);}
}

/* landing page styles */
.top {
  padding-bottom: 10px;
  color: var(--light-colour);
  background: var(--background-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  max-width: 800px;
  margin: 25px auto 50px auto;
}
/* /////////////////////////////////// */
/* text styles */
/* /////////////////////////////////// */
h1, 
h2,
label {
  font-family: 'Righteous', cursive;
  text-transform: capitalize;
  white-space: initial;
}

form,
h1 {
  max-width:800px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 5vh;
  font-size: 5.6rem;
}

h2 {
  padding-bottom: 11px;
  font-size: 1.8rem;
  word-wrap: break-word;
  line-height: 30px;
}

.top h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  border-bottom: none;
  font-size: 1.2rem;
  padding-bottom: 0px;
  text-transform: none;
}

label {
  font-size: 1.4rem;
}

.errorMessage {
  color: red;
  font-family: 'Roboto', sans-serif;
}

/* /////////////////////////////////// */
/* text styles */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* form styles */
/* /////////////////////////////////// */

.dreamInput {
  display:block;
  margin: 11px auto;
  height: 25vh;
  width: 90%;
  max-width: 700px;
  resize: none;
  padding: 11px;
  font-family: 'Roboto', sans-serif;
}

.titleInput {
  width: 100%;
  max-width: 350px;
  padding: 11px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 33px;
  margin-top: 11px;
}

.titleInput:focus,
.dreamInput:focus {
  border: 5px solid #778899;
}

.addDream {
  margin-top: 20px;
  padding: 9px;
  border: 5px solid var(--light-colour);
  border-radius: var(--border-radius);
  font-family: 'Righteous', cursive;
  background-color: var(--background-dark);
  font-size: 1.3rem;
  transition:transform 0.3s;
  color: var(--light-colour);
}

.addDream:hover,
.addDream:focus {
  background-color: var(--light-colour);
  color: var(--dark-colour);
  transform: scale(1.01);
}

form input, 
form textarea {
  border: var(--border);
  border-radius: var(--border-radius);
  display: block;
  margin: 0 auto;
  background-color: var(--background-dark);
  color: var(--light-colour);
}

/* /////////////////////////////////// */
/* form styles */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* dynamic dream display styles */
/* /////////////////////////////////// */
.dreamDisplay {
  column-count: 3;
  column-width: 300px;
  column-gap:50px;
  padding-left: 0;
}

.returnDream {
  list-style: none;
  padding: 50px;
  max-width: 500px;
  margin: 0;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
  background-color: var(--background-dark);
  width:100% ;
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
  word-wrap: break-word;
  line-height: 20px;
}

.wrapper {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}

.removeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #D3D3D3;
  font-size: 1.6rem;
}

.removeButton:hover,
.removeButton:focus {
  color: var(--accent-red);
}

.upVote {
  display: flex;
}

.voteButton {
  background-color: transparent;
  border: none;
  color: var(--light-colour);
}

.voteButton:hover {
  color: var(--accent-yellow);
}

.voteButton.liked {
  color: var(--accent-red);
}

.commentSection {
  max-height: 300px;
  overflow-y: auto;
}

.commentInput {
  display: none;
}

.commentInput.show {
  display: block;
  position: relative;
  margin: 5px -20px;
}

.addComment {
  position: absolute;
  right: 0px;
  top: 2px;
  color: var(--dark-colour);
  background-color: var(--light-colour);
  width: 45px;
  height: 45px;
  border-radius: 0px 20px 20px 0px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addComment:hover,
.addComment:focus {
  font-size: 1.5rem;
}

.commentbutton {
  border: none;
  background: none;
  color: var(--light-colour);
}

.commentbutton:hover,
.commentbutton:focus {
  color: var(--accent-yellow);
}

.commentChild {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--light-subtle);
}

.commentChild p {
  max-width: 90%;
}

.commentSectionInput {
  width: 100%;
  padding: 10px 30px 10px 5px;
}

.removeCommentButton {
  background: none;
  border: none;
  color: var(--light-colour);
  font-size: 1.1rem;
}

.removeCommentButton:hover,
.removeCommentButton:focus {
  color: var(--accent-red);
}

/* scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: var(--dark-colour);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-colour);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.01px var(--accent-yellow);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-colour);
}
/* /////////////////////////////////// */
/* dynamic dream display styles */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* footer styles */
/* /////////////////////////////////// */
footer {
  margin-top: 75px;
  padding-top: 15px;
  border-top: var(--border);
  background-color: var(--background-dark);
}

footer p {
  margin: 0;
  padding: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: var(--light-colour);
}

footer a {
  text-decoration: none;
  color: var(--light-colour);
  padding: 5px;
  transition: all ease 0.3s;
}

footer a:hover,
footer a:focus,
footer a:hover svg,
footer a:focus svg {
  transform: scale(1.05);
  color: var(--accent-yellow);
}

footer .fa-angle-up {
  font-size: 50px;
}

/* swal popup modal */
.swal-modal {
  background-color: var(--dark-colour);
  border: var(--border);
  border-radius: var(--border-radius);
}

.swal-text,
.swal-title {
  color: var(--light-colour);
}

.swal-button {
  color: var(--dark-colour);
}
.swal-icon--success__hide-corners {
  background-color: var(--dark-colour);
}
.swal-icon--success:after, 
.swal-icon--success:before {
  background-color: var(--dark-colour);
}

/* smaller image size on smaller screens for performance */
@media (max-width: 815px) {
  .top {
    border: none;
    border-bottom: var(--border);
    border-radius: 0px 0px 20px 20px;
    margin-top: 0px;
  }
  .appBackground {
    padding-top: 0px;
  }
  .backgroundImg {
    margin-top: 0px;
  }
}